// Custom Colors
$primary: #0562c6;
$dark: #2d2c31;
$light: #d3e5f3;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";