// Custom Colors
$primary: #677383;
$blood: #CC1100;
$dark: #2d2c31;
$light: #d3e5f3;

// Radio
$radio-size: 1em;

// Checkbox
$checkbox-size: 1em;
$checkbox-border-color: $blood;
$checkbox-border-radius: 50%;
$checkbox-active-background-color: $blood;
$checkbox-checkmark-color: $blood;

// Lists and maps
$custom-colors: ("blood": $blood);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";