// Custom Colors
$primary: #232b65;
$info: #80c7df;
$dark: #2e3440;
$light: #d7eaf0;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";